.app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background: #F1F3F9;
    min-width: 1190px;
    height: 180vh;

}
.logo{
    display: block;
    margin: 0 auto;
    padding-top:30px;
    padding-bottom: 30px;
}
.link_text{
    text-decoration: none;
}